.cerocap{
    /* transform: translateY(-50%)
     */
     position: absolute;
     top:50%;
     left:50%;
     transform: translateX(-50%);

}
.cero_img img{
    position: relative;
}
.cero_item .carousel-indicators {
    align-items: end;
}
.pro_card_con {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 1rem;
    gap: 1rem;
}
.pro_card img{
    width:60%
}
.ability{
    display: flex;
    align-items: center;
    justify-content: center;
}
.ability img{
    width:5%
}
.Sort_pro{
    border:0px;
    outline:0px;
}

.sort_box{
    display: flex;
    justify-content: end;
    margin-right: 10px;
}
.proside{
    background-color: rgb(243, 243, 243);
    padding: 20PX 20PX;
    height: 100%;
}

.pro_body{
    display: grid;
    grid-template-columns: 2fr 5fr;
}
    
.procard_deco{
    display: flex;
    gap:5px;
    padding: 10px;

}

.overlay_title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pro_card{
    color: black;
}
.proCard_link{
    text-decoration: none;

}
@media screen and (max-width:650px) {
    .pro_body {
        display: block;
    }
    .pro_body>div:first-child{
        display: none;
    } 
    .pro_card_con {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 1rem;
        gap: 1rem;
    }
    .product_page_branding{
        font-size: 13.5px;
    }
    .pro_card{
        box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
        height: 260px;
        padding: 0.5rem;
    }
    
}